language: cpp
compiler: g++
dist: bionic
os: linux
addons:
  apt:
    update: true
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - graphviz
      - doxygen

matrix:
  fast_finish: true

git:
  quiet: true

before_script:
  - export RELEASE_VERSION=$(cat RELEASE)
  - export BUILD_VERSION=$RELEASE_VERSION.$TRAVIS_BUILD_NUMBER
  - echo $BUILD_VERSION
  - cd $TRAVIS_BUILD_DIR
  - sudo apt-get install libboost-dev

script:
  - mkdir build && cd build
  - cmake ..
  - cmake --build .
  - ctest --verbose
  - cpack
  - cd $TRAVIS_BUILD_DIR/homework4 && doxygen Doxyfile

before_deploy:
  - cd $TRAVIS_BUILD_DIR/build

deploy:
  - provider: bintray
    file: $TRAVIS_BUILD_DIR/build/homework1/bintray-descriptor.json
    user: $BINTRAY_USER
    key: $BINTRAY_API_KEY
    skip_cleanup: true
    on:
      branch: master
  - provider: bintray
    file: $TRAVIS_BUILD_DIR/build/homework2/bintray-descriptor.json
    user: $BINTRAY_USER
    key: $BINTRAY_API_KEY
    skip_cleanup: true
    on:
      branch: master
  - provider: bintray
    file: $TRAVIS_BUILD_DIR/build/homework4/bintray-descriptor.json
    user: $BINTRAY_USER
    key: $BINTRAY_API_KEY
    skip_cleanup: true
    on:
      branch: master
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    local_dir: $TRAVIS_BUILD_DIR/homework4/docs/html
    keep_history: true
    on:
      branch: master
