language: cpp
compiler: g++
dist: bionic
os: linux
addons:
  apt:
    update: true
    sources:
      - ubuntu-toolchain-r-test

matrix:
  fast_finish: true

git:
  quiet: true

before_script:
  - export RELEASE_VERSION=$(cat RELEASE)
  - export BUILD_VERSION=$RELEASE_VERSION.$TRAVIS_BUILD_NUMBER
  - echo $BUILD_VERSION
  - cd $TRAVIS_BUILD_DIR
  - sudo apt-get install libboost-dev

script:
  - mkdir build && cd build
  - cmake ..
  - cmake --build .
  - ctest

before_deploy:
  - cd $TRAVIS_BUILD_DIR/build
  - cpack

deploy:
  - provider: bintray
    file: ./homework1/bintray-descriptor.json
    user: $BINTRAY_USER
    key: $BINTRAY_API_KEY
    skip_cleanup: true
    on:
      branch: master
  - provider: bintray
    file: ./homework2/bintray-descriptor.json
    user: $BINTRAY_USER
    key: $BINTRAY_API_KEY
    skip_cleanup: true
    on:
      branch: master
  - provider: bintray
    file: ./homework2/bintray-descriptor.json
    user: $BINTRAY_USER
    key: $BINTRAY_API_KEY
    skip_cleanup: true
    on:
      branch: homework2
