language: cpp
compiler: g++

os: linux
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test

matrix:
  fast_finish: true

git:
  quiet: true

before_script:
  - export RELEASE_VERSION=$(cat RELEASE)
  - export BUILD_VERSION=$RELEASE_VERSION.$TRAVIS_BUILD_NUMBER
  - echo $BUILD_VERSION
  - cd $TRAVIS_BUILD_DIR

script:
  - mkdir build && cd build
  - cmake ..
  - cmake --build .
  - ctest

before_deploy:
  - cd $TRAVIS_BUILD_DIR/build
  - cpack

deploy:
  provider: bintray
  file: ./bintray-descriptor.json
  user: $BINTRAY_USER
  key: $BINTRAY_API_KEY
  skip_cleanup: true
